* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

/*grid padre*/
/*estructura grid*/
.page-grid {
  display: grid;
  background-color: #FFF;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "sidebar" "footer"; }

.page-grid-contacto {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'content' 'footer'; }

@media screen and (min-width: 801px) {
  .page-grid {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'header header header' 'content content sidebar' 'footer footer footer'; } }

.content {
  grid-area: content;
  min-height: 80vh; }

.footer {
  grid-area: footer; }

/* SIDEBAR */
.sidebar-grid {
  background-color: #e3caab;
  margin-left: 1rem;
  font-family: "Courier New", Courier, monospace; }
  .sidebar-grid ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    list-style: none;
    padding: 1.5rem;
    margin: 0.5rem;
    text-align: left; }
    .sidebar-grid ul li {
      font-size: 14px; }

/*HEADER*/
header {
  grid-area: header;
  align-items: center; }
  header h1 {
    margin-bottom: 1rem; }
  header h1 a {
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
    text-shadow: 2px 3px #e3caab;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder; }
  header nav ul {
    display: flex; }
    header nav ul li {
      padding-left: 1rem;
      padding-right: 1rem;
      list-style: none;
      font-family: "Courier New", Courier, monospace; }
      header nav ul li a {
        text-decoration: none;
        color: white; }

/* ANIMACIONES */
header h1 a:hover {
  background-color: #e3caab;
  font-size: 38px;
  box-shadow: 5px 5px;
  border-radius: 80px; }

nav ul li:hover {
  font-size: 17px; }

/* VIDA SANA   -   IMAGEN DE SECCION CONTENT */
.image-content-wrapper {
  border-radius: 40px;
  position: relative;
  max-height: 500px;
  overflow: hidden; }

.image-text {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  padding: 15px;
  color: #442c1c;
  background-color: rgba(73, 51, 24, 0.151); }

.content-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid-item {
  display: flex;
  flex-direction: column;
  column-gap: normal;
  padding: 20px;
  font-size: 100%;
  background-color: #e3caab;
  border-radius: 5px; }

.content h2 {
  font-family: "Courier New", Courier, monospace;
  color: #442c1c;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2.5rem; }

.content p {
  font-family: "Courier New", Courier, monospace; }

.p-1 {
  flex: 50%;
  padding: 2rem;
  margin: 2rem;
  border-style: groove; }
  .p-1 mark {
    background-color: #ba8403; }

.p-2 {
  flex: 50%;
  padding: 2rem;
  margin: 2rem;
  border-style: groove; }
  .p-2 mark {
    background-color: #ba8403; }

.p-3 {
  flex: 50%;
  padding: 2rem;
  margin: 2rem;
  border-style: groove; }
  .p-3 mark {
    background-color: #ba8403; }

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  font-family: "Courier New", Courier, monospace;
  flex-wrap: nowrap; }

.footer-logo-container {
  height: 100px;
  width: 100px;
  overflow: hidden;
  transform: scale(1.5); }

.footer-logo-container img {
  object-fit: cover;
  height: 100%; }

.header,
.footer {
  background-color: #d4a66a; }

/*PRODUCTOS*/
table, th, th, td {
  border: 1px solid black;
  text-align: center;
  width: 800px;
  height: 50px;
  background-color: white; }

.productos-lista {
  margin-top: 2rem;
  color: black;
  text-align: center; }
  .productos-lista table {
    margin: 0% auto;
    width: 100%;
    overflow: scroll; }
  .productos-lista .comprar {
    margin: 1rem; }
    .productos-lista .comprar button {
      background-color: #d4a66a; }
    .productos-lista .comprar a {
      padding: 0.5rem;
      color: #442c1c;
      text-decoration: none; }

/* contacto css */
legend {
  text-align: center;
  font-size: 1.5rem; }

section {
  display: flexbox;
  row-gap: gap;
  padding: 3rem; }

fieldset {
  padding: 1.5rem; }

section div {
  margin: 1rem; }

.contacto-comentario input {
  width: 300px;
  height: 50px; }

div label {
  padding-right: 70px;
  font-size: large;
  text-align: center; }

/* QUIENES SOMOS*/
.titulo-somos :hover {
  font-size: 52px; }

.titulo-somos {
  font-size: 50px;
  text-align: center;
  padding: 2rem; }

.quienes-somos {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  overflow: auto; }
  .quienes-somos h2 {
    text-align: center;
    border-style: solid;
    background-color: #b69340;
    color: white; }
  .quienes-somos p {
    text-align: center;
    padding-bottom: 1rem; }
  .quienes-somos .somos1 {
    flex: 50%;
    padding: 2rem;
    margin: 2rem;
    border-style: dotted; }
  .quienes-somos .somos2 {
    flex: 50%;
    padding: 2rem;
    margin: 2rem;
    border-style: dotted; }

/*-----MQ MOBILE ----- aqui va el css de MOBILE*/
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/*-----MQ tablet -----*/
@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .sidebar-grid {
    margin-left: 0%;
    margin-top: 0.5rem; }
  .quienes-somos {
    display: flex;
    flex-direction: column; } }

/*----- MQ desktop ----- */
@media screen and (min-width: 801px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .sidebar-grid {
    background-color: #e3caab;
    margin-left: 1rem; } }
