* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

.titulo-somos {
  font-size: 24px;
  text-align: center;
  padding: 1.5rem; }

.productos-lista .comprar a {
  padding: 0.5rem;
  color: #442c1c;
  text-decoration: none; }

/*grid padre*/
/*estructura grid*/
.page-grid {
  display: grid;
  background-color: #FFF;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "sidebar" "footer"; }

.page-grid-contacto {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'content' 'footer'; }

@media screen and (min-width: 801px) {
  .navbar {
    display: none; }
  .page-grid {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'header header header' 'content content sidebar' 'footer footer footer'; } }

main .sidebar-grid {
  grid-area: sidebar; }

.content {
  grid-area: content;
  min-height: 80vh; }

.footer {
  grid-area: footer; }

/* SIDEBAR */
.sidebar-grid {
  display: flex;
  justify-content: center;
  text-align: center; }
  .sidebar-grid div img {
    width: 90%;
    height: 90%; }

/*HEADER*/
header {
  grid-area: header;
  align-items: center; }
  header h1 a img {
    text-align: center;
    margin: 0;
    width: 8rem;
    overflow: auto; }
  header h2 a img {
    text-align: center;
    margin: 0;
    width: 8rem;
    overflow: auto; }
  header nav ul {
    display: flex; }
    header nav ul li {
      padding-left: 1rem;
      padding-right: 1rem;
      list-style: none;
      font-family: "Courier New", Courier, monospace;
      flex-wrap: nowrap; }
      header nav ul li a {
        text-decoration: none;
        color: white; }

/* ANIMACIONES */
header h1 img:hover {
  width: 9rem; }

header h2 img:hover {
  width: 9rem; }

nav ul li:hover {
  font-size: 17px; }

/* VIDA SANA   -   IMAGEN DE SECCION CONTENT */
.image-content-wrapper {
  border-radius: 40px;
  position: relative;
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 3rem; }

.image-text {
  font-size: 1.3rem;
  position: absolute;
  text-align: center;
  top: 0;
  padding: 15px;
  color: #442c1c;
  background-color: rgba(73, 51, 24, 0.34); }

.content-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid-item {
  display: flex;
  flex-direction: column;
  column-gap: normal;
  padding: 20px;
  font-size: 100%;
  background-color: #e3caab; }

.content h2 {
  font-family: "Courier New", Courier, monospace;
  color: #442c1c;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem; }

.content p {
  font-family: "Courier New", Courier, monospace;
  margin-top: 1rem;
  text-align: justify; }

.p-1 {
  flex: 50%;
  padding: 2rem;
  margin: 2rem;
  margin-top: 3rem;
  border-style: groove; }
  .p-1 mark {
    background-color: #ba8403; }

.p-2 {
  flex: 50%;
  padding: 2rem;
  margin: 2rem;
  border-style: groove; }
  .p-2 mark {
    background-color: #ba8403; }

.p-3 {
  flex: 50%;
  padding: 2rem;
  margin: 2rem;
  border-style: groove; }
  .p-3 mark {
    background-color: #ba8403; }

/*PRODUCTOS*/
table, th, th, td {
  border: 1px solid black;
  text-align: center;
  width: 800px;
  height: 50px;
  background-color: white; }

.productos-lista {
  margin-top: 2rem;
  color: black;
  text-align: center; }
  .productos-lista table {
    margin: 0% auto;
    width: 100%;
    overflow: scroll; }
  .productos-lista .comprar {
    margin: 1rem; }
    .productos-lista .comprar button {
      background-color: #d4a66a; }

/*BOOTSTRAP*/
.card-boot {
  display: flex; }
  .card-boot .card {
    text-align: justify; }
  .card-boot .card img {
    width: 100%;
    height: 100%; }
  .card-boot p {
    width: 100%;
    height: 100%; }

.col {
  margin-bottom: 1rem; }

/* contacto css */
legend {
  text-align: center;
  font-size: 1.5rem; }

section {
  display: flexbox;
  row-gap: gap;
  padding: 3rem; }

fieldset {
  padding: 1.5rem; }

section div {
  margin: 1rem; }

.contacto-comentario input {
  width: 300px;
  height: 50px; }

div label {
  padding-right: 70px;
  font-size: large;
  text-align: center; }

section .formulario {
  display: flex;
  justify-content: center; }

/* QUIENES SOMOS*/
.titulo-somos u:hover {
  font-size: 1.55rem;
  text-shadow: auto white; }

.titulo-somos {
  text-align: center; }
  .titulo-somos u {
    font-size: 24px;
    color: #442c1c; }

.quienes-somos {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  overflow: auto; }
  .quienes-somos h2 {
    text-align: center;
    border-style: solid;
    background-color: #b69340;
    color: white; }
  .quienes-somos p {
    text-align: center;
    padding-bottom: 1rem;
    text-align: justify; }
  .quienes-somos .somos1 {
    flex: 50%;
    padding: 2rem;
    margin: 2rem;
    border-style: dotted; }
  .quienes-somos .somos2 {
    flex: 50%;
    padding: 2rem;
    margin: 2rem;
    border-style: dotted; }

/* FOOTER */
.footer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer-container a img {
    object-fit: cover;
    height: 60px;
    width: 100px;
    margin-top: 1rem;
    overflow: hidden;
    transform: scale(1.5); }
  .footer-container nav ul {
    display: flex; }
    .footer-container nav ul li {
      justify-content: center;
      list-style: none; }
      .footer-container nav ul li a img {
        width: 30px;
        height: 30px;
        margin: 1rem; }

.header,
.footer {
  background-color: #d4a66a; }

/*-----MQ MOBILE ----- aqui va el css de MOBILE*/
@media screen and (max-width: 480px) {
  .nav1 {
    display: none; }
  header h1 img:hover {
    width: 8rem; }
  div.container-fluid {
    background-color: #d4a66a;
    padding: 0%; }
  .navbar {
    padding: 0%; }
  .sidebar-grid {
    flex-direction: column; }
  .sidebar-grid {
    margin-left: 0%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row; }
  .quienes-somos {
    display: flex;
    flex-direction: column; }
  .card-boot {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap; } }

/*-----MQ tablet -----*/
@media screen and (min-width: 481px) and (max-width: 800px) {
  .navbar {
    display: none; }
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .sidebar-grid {
    margin-left: 0%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row; }
  .quienes-somos {
    display: flex;
    flex-direction: column; }
  .card-boot {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap; } }

/*----- MQ desktop ----- */
@media screen and (min-width: 801px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .sidebar-grid {
    background-color: #e3caab;
    margin-left: 1rem; } }
