// reset /*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*grid padre*/

.page-grid{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "content"
        "sidebar"
        "footer";
}
.page-grid-contacto {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'content'
      'footer';
  }
/*MEDIE QUERIES DEKSTOP*/
@media screen and (min-width: 600px) {
    .page-grid {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:
        'header header header'
        'content content sidebar'
        'footer footer footer';
    } 
 }  

/*estructura grid*/
.sidebar-grid ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    list-style: none;
    padding: 1.5rem;
    margin: 0.5rem;
    text-align: left;
    
  }
  .sidebar-grid ul li {
    font-size: 14px;
  }
  
  .content {
    grid-area: content;
    min-height: 80vh;
  }
  .footer {
    grid-area: footer;
  }
  
  .nav {
    grid-area: nav;
  }
  

 /*HEADER*/
 header{
    grid-area: header;
    align-items: center;
    h1{
     margin-bottom: 1rem;
     text-shadow: 2px 3px rgb(165, 123, 68);
     font-size: 2.5rem; 
     text-transform: uppercase;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bolder;
    }
    nav ul{
      display: flex;
         li{
          padding-left: 1rem;
          padding-right: 1rem;
           list-style: none;
             a{
              text-decoration: none;
              color: white;
              }
            }
           }
         }

/* ANIMACIONES */
header h1:hover{
  background-color: #c6aa859c;
  font-size: 41px;
  box-shadow: 5px 5px;
  border-radius: 80px;
}
nav ul li:hover{
  font-size: 18px;
}


/* IMAGEN DE SECCION CONTENT */
.image-content-wrapper {
  border-radius: 40px;
  position: relative;
  max-height: 500px;
  overflow: hidden;
}
.image-text {
  text-align: left;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  padding: 15px;
  color: rgb(88, 70, 47);
}
.content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-grid {
  margin: 1em;
  background-color: #FFF;
}

.grid-item {
  display: flex;
  flex-direction: column;
  column-gap: normal;
  padding: 20px;
  font-size: 100%;
  background-color: #e3caab;
  border-radius: 5px;
}

.header, 
.footer{
  background-color: #d4a66a;
}

.sidebar-grid {
  background-color: #e3caab;
}

.content h2 {
  margin-top: 0; 
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  
}
/* FOOTER */
.footer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}


.footer-logo-container {
  height: 100px;
  width: 100px;
  overflow: hidden;
  transform: scale(1.5);
}

.footer-logo-container img {
  object-fit: cover;
  height: 100%;
}

/*PRODUCTOS*/
table, th, th, td {
  border: 1px solid black;
  width: 800px;
  height: 50px;
  margin: 30px;
  background-color: rgba(214, 161, 130, 0.589);
  }

.productos-lista{
  display: flex;
  justify-content: center;
  width: 75%;
  height: 75%;
  color: rgb(118, 22, 22);
  background-color: rgb(146, 112, 26);
}

/* contacto css */
legend{
  text-align: center;
  font-size: 1.5rem;
}
section {
  display: flexbox;
  row-gap: gap;
  padding: 3rem;  
}
fieldset{
  padding: 1.5rem;

}
section div{
  margin: 1rem;
}
.contacto-comentario input{
  width: 300px;
  height: 50px;
}
div label{
  padding-right: 70px;
  font-size: large;
  text-align: center;
 }

 /*-----MQ MOBILE ----- aqui va el css de MOBILE*/
 @media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    margin-top: 2rem;
  }
}

/*-----MQ tablet -----*/
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    margin-top: 2rem;
  }
}

/*----- MQ desktop ----- */
@media screen and (min-width: 601px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}
