
// color letras

$color-uno: #442c1c;

$color-tres: #7d6b61;

$color-dos: #ba8403;

//color fondo

$fondo-uno:#d4a66a;

$fondo-dos:#e3caab;

$fondo-tres:#b6aca7;

$fondo-cuatro:#b69340;

// LETRA LAGRANOLA

$font-granola:'Courier New', Courier, monospace; 

